/Debug
/Debug_DX
/Debug_GL
/Editor/debug
/Editor/GeneratedFiles
/Editor/Win32
/Editor/x64
/EditorDX/Debug
/Engine/Debug
/Engine/Debug_DX
/Engine/Debug_GL
/Engine/x64
/GameGL/Debug
/GameGL/Debug_DX
/GameGL/Debug_GL
/GameGL/x64
/GameDX/Debug
/GameDX/Debug_DX
/GameDX/Debug_GL
/ipch
/x64
/.vs

*.swp
*~

*.opensdf
*.sdf
*.suo

*.db

*.psess
*.vspx

*.pro.user
*.ui.autosave

*.vcxproj.user

*__pycache__

*.tmp

*.opendb
*.pro.user.-1
*.pro.user.18
